@font-face {
  font-family: 'GT Haptik Regular';
  src: 
  url('../fonts/gt-haptik-regular.woff2') format('woff2'), 
  url('../fonts/gt-haptik-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}