@font-face {
  font-family: 'GTHaptikRegular';
  src: 
  url('../fonts/GTHaptikRegular.woff') format('woff'), 
  url('../fonts/GTHaptikRegular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
