//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Plugins
//   4. Color
//   5. Typography
//   6. Navigation
//   7. Off-canvas
//   8. Layout
//   9. Home
//   10. Menu / Food
//   11. Find Us
//   12. Story
//   13. Hire Us
//   14. Contact
//   15. Page
//   16. Footer


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

// 2. Global
// ---------

body {
  cursor: default;
  font-kerning: normal;
}

svg {
  max-width: 100%;
}

::selection {
  background: $primary-color;
  color: $black;
}

:focus {
  outline: 0;
}

// 3. Plugins
// ----------

// 4. Color
// --------

.white {
  color: $white;
}

.primary-color {
  color: get-color(primary);
}

.secondary-color {
  color: get-color(secondary);
}

// 5. Typography
// -------------

.underline {
  border-bottom: 1px solid $white;
}

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

p a {
  border-bottom: 1px solid $black;
}

.sans-regular {
  font-family: $sans-regular;
}

.serif-regular {
  font-family: $serif-regular;
}

// 6. Navigation
// -------------

.footer {
  padding: 2rem;
}

.light {
  background-color: $white;
  a {
  color: $black;
  }
}

// Extras

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
 .content {
    transition: $primary-transition;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}

.image {
  @include aspect-ratio (16, 9);
  background-size: cover; 
  background-position: 50%;
}

.home .image {
 .content {
    opacity: 0;
  }
  &:hover .content {
    background-color: rgba($black, 0.90);
    opacity: 1;
  }
}

.work .image {
 .content {
    opacity: 0;
  }
  &:hover .content {
    background-color: rgba($black, 0.90);
    opacity: 1;
  }
}


header {
  @include breakpoint(small) {
    @include padding(1, 1, 1, 1);
  }
  @include breakpoint(medium) {
    @include padding(1, 1, null, 1);
  }
  @include breakpoint(large) {
    @include padding(1, 2, null, 2);
  }
}