---
layout: default
---

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">

     {% for detail in page.details %}
      <div class="small-12 medium-6 cell text-center">
      
<div class="padding-1">
        <div class="medium-gray margin-bottom-1 h5 text-lowercase"><span class="">{{detail.title}}</span></div>
        {{detail.text | markdownify}}
</div>

      </div>
      {% endfor %}

  </div>
</div>

<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <ul class="menu padding-bottom-2">
      <li><a href="/terms"><small>Terms</small></a></li>
      <li><a href="/privacy"><small>Privacy</small></a></li>
      <li><a href="/subscribe"><small>Subscribe</small></a></li>
    </ul>
  </div>
</section>