---
layout: default
---

<div class="orbit" role="region" data-orbit data-options="animInFromLeft:slide-in-left; animInFromRight:slide-in-right; animOutToLeft:slide-out-left; animOutToRight:slide-out-right;">
  <div class="orbit-wrapper">
    
    
    <ul class="orbit-container">      
      {% assign works = site.work | sort: 'position' | where: "is-featured", "true" %}
      {% for work in works %}
      <li class="orbit-slide">
      
        <div class="grid-y align-center" style="height: 100%;">
          <div class="shrink cell">

            <div class="grid-x align-center">
              <div class="small-12 medium-7 cell text-center">
                <a href="{{ work.url }}">
                  {% assign image = work.image %}
                  <div class="margin-bottom-3 light-gray-background image" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}"></div>
                  <div class="sans-regular white margin-top-1">{{ work.client }} — <span class="dark-gray">{{ work.title }}</span></div>
                </a>
              </div>
            </div>
        
          </div>
        </div>

      </li>
      {% endfor %}
    </ul>

  </div>
</div>