---
layout: default
---

<div class="row expanded container">
  <div class="column flex-container align-justify flex-dir-column text-center">
    
    <div class="flex-child-shrink">
    </div>
    
    <div class="flex-child-shrink">

          <a href="mailto:{{site.email}}" class="special" id="trigger"><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a>
    </div>
    
    <div class="flex-child-shrink text-center footer">
      <a href="mailto:{{site.email}}" class="special" id="trigger">{{site.email}}</a>
    </div>
    
  </div>
</div>